<section id=topHero class="hero is-large is-fluid">
  <div class="hero-body">
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="investment has-text-centered">
      <br>
      <br>
      <h1 class="title">
        INVESTMENT OPPORTUNITIES
      </h1>
      <br>
      <h3 class="subText">
        In order to finish development and facilitate rapid expansion, we are pivoting from self-financing to an angel-backed and
        venture-backed model. Multiple tiers are available, and both debt and equity considerations are negotiable. Investors
        should be informed that, in addition to the large size of projected revenues, high potential marginal profits make
        SafeStamp™ an appealing investment.
      </h3>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column is-3 has-text-centered">
      <h1 class="title" id="contact">
        Contact Us
      </h1>
      <h3 class="founder">Founder and CEO</h3>
      <h4>Matt McGuire</h4>
      <h4>+ 1.865.518.2469</h4>
      <h4>matt@safestamp.com</h4>
    </div>
    <div id="contInst" class="column is-3 is-offset-1">
      <span>Enter your information,
        <br> click the Submit button,
        <br> and our CEO will be in touch shortly.</span>
      <br>
      <br>
      <span>Thanks for reaching out!</span>
    </div>
    <div id="myForm" class="column is-3 is-offset-1">
      <div class="field">
        <div class="control">
          <label class="label">Affiliation</label>
          <div class="select">
            <select name="drop" #drop>
              <option></option>
              <option value="Individual">Individual</option>
              <option value="Institutional">Institutional</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="control">
          <label class="label">Information Requested</label>
          <div class="select">
            <select name="drop2" #drop2>
              <option></option>
              <option value="Quote">Quote</option>
              <option value="Proposal">Proposal</option>
              <option value="Investment">Investment</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input id="input" class="input" type="text" name="name" #name>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" name="email" #email>
              </div>
              <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                  <input class="input" type="tel" name="phone" #phone>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    <label class="label">How Did You Hear About Us?</label>
                    <div class="select">
                      <select name="drop3" #drop3>
                        <option></option>
                        <option value="Professional Contact">Professional Contact</option>
                        <option value="Social Contact">Social Contact</option>
                        <option value="Social Media">Social Media</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-link" type="button" (click)="onSubmit(drop.value, drop2.value, name.value, email.value, phone.value, drop3.value)">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
