#topHero {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/howPageLab.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.investment {
  margin-top: -11em;
  background-color: white;
  border-top: 10px solid #49a59d;
}
h1.title {
  color: #49a59d;
}

.subText {
  font-size: large;
  font-weight: 400;
}
.founder {
  font-size: x-large;
}
#contInst span {
  font-size: xx-large;
}
.message {
  background-color: white;
  text-align: center;
}
.button {
  background-color: #49a59d;
}
.button:hover {
  background-color:#3a8f88;
}

