<section class="hero is-small is-fluid">
    <div class="hero-body has-text-centered">
        <h1 class="title has-text-black">
        STORIES
        </h1>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <h2>Officia Lorem ea sint consequat ea proident elit aute excepteur cupidatat nulla officia. Commodo elit laboris officia culpa non exercitation quis tempor laborum pariatur ut esse nisi incididunt. Magna sit velit in laborum culpa. Ullamco anim et est laborum velit nostrud. Enim tempor quis consectetur occaecat non exercitation exercitation duis veniam. Aute officia et pariatur ullamco ad proident fugiat.

            Occaecat dolor labore minim irure sunt aliqua enim ut sint cupidatat excepteur. Pariatur tempor qui qui minim in sint labore nostrud. Cupidatat tempor sit excepteur aliqua aliqua fugiat ut irure dolore deserunt cillum culpa. Commodo velit officia dolor nisi id proident consectetur velit qui.

            Cillum veniam pariatur cupidatat adipisicing aliqua exercitation in magna tempor. Cupidatat ex esse proident esse eiusmod ad pariatur est. Elit sit voluptate do incididunt nostrud labore aliqua proident minim aliqua Lorem magna. Lorem nisi velit laborum commodo sint cupidatat proident adipisicing deserunt.

            Dolor sunt duis veniam Lorem ullamco velit nostrud irure eiusmod. Exercitation proident aliquip laboris et sit est qui cupidatat. Proident pariatur et adipisicing consequat incididunt cillum qui laborum irure dolor non. Ad mollit culpa id ipsum officia eu dolor cupidatat non dolor nulla ipsum quis aliqua.

            Eiusmod do minim aliquip exercitation sunt id eiusmod culpa veniam exercitation adipisicing duis voluptate. Nisi aliquip do ex officia magna. Aliqua id non et consequat ipsum in esse. Ad amet Lorem exercitation aliqua sit magna dolor nisi minim ex laboris.</h2>
        <br>
        <br>
        <h2>Officia Lorem ea sint consequat ea proident elit aute excepteur cupidatat nulla officia. Commodo elit laboris officia culpa non exercitation quis tempor laborum pariatur ut esse nisi incididunt. Magna sit velit in laborum culpa. Ullamco anim et est laborum velit nostrud. Enim tempor quis consectetur occaecat non exercitation exercitation duis veniam. Aute officia et pariatur ullamco ad proident fugiat.

            Occaecat dolor labore minim irure sunt aliqua enim ut sint cupidatat excepteur. Pariatur tempor qui qui minim in sint labore nostrud. Cupidatat tempor sit excepteur aliqua aliqua fugiat ut irure dolore deserunt cillum culpa. Commodo velit officia dolor nisi id proident consectetur velit qui.

            Cillum veniam pariatur cupidatat adipisicing aliqua exercitation in magna tempor. Cupidatat ex esse proident esse eiusmod ad pariatur est. Elit sit voluptate do incididunt nostrud labore aliqua proident minim aliqua Lorem magna. Lorem nisi velit laborum commodo sint cupidatat proident adipisicing deserunt.

            Dolor sunt duis veniam Lorem ullamco velit nostrud irure eiusmod. Exercitation proident aliquip laboris et sit est qui cupidatat. Proident pariatur et adipisicing consequat incididunt cillum qui laborum irure dolor non. Ad mollit culpa id ipsum officia eu dolor cupidatat non dolor nulla ipsum quis aliqua.

            Eiusmod do minim aliquip exercitation sunt id eiusmod culpa veniam exercitation adipisicing duis voluptate. Nisi aliquip do ex officia magna. Aliqua id non et consequat ipsum in esse. Ad amet Lorem exercitation aliqua sit magna dolor nisi minim ex laboris.</h2>    
        <br>
        <br>
        <h2>Officia Lorem ea sint consequat ea proident elit aute excepteur cupidatat nulla officia. Commodo elit laboris officia culpa non exercitation quis tempor laborum pariatur ut esse nisi incididunt. Magna sit velit in laborum culpa. Ullamco anim et est laborum velit nostrud. Enim tempor quis consectetur occaecat non exercitation exercitation duis veniam. Aute officia et pariatur ullamco ad proident fugiat.

            Occaecat dolor labore minim irure sunt aliqua enim ut sint cupidatat excepteur. Pariatur tempor qui qui minim in sint labore nostrud. Cupidatat tempor sit excepteur aliqua aliqua fugiat ut irure dolore deserunt cillum culpa. Commodo velit officia dolor nisi id proident consectetur velit qui.

            Cillum veniam pariatur cupidatat adipisicing aliqua exercitation in magna tempor. Cupidatat ex esse proident esse eiusmod ad pariatur est. Elit sit voluptate do incididunt nostrud labore aliqua proident minim aliqua Lorem magna. Lorem nisi velit laborum commodo sint cupidatat proident adipisicing deserunt.

            Dolor sunt duis veniam Lorem ullamco velit nostrud irure eiusmod. Exercitation proident aliquip laboris et sit est qui cupidatat. Proident pariatur et adipisicing consequat incididunt cillum qui laborum irure dolor non. Ad mollit culpa id ipsum officia eu dolor cupidatat non dolor nulla ipsum quis aliqua.

            Eiusmod do minim aliquip exercitation sunt id eiusmod culpa veniam exercitation adipisicing duis voluptate. Nisi aliquip do ex officia magna. Aliqua id non et consequat ipsum in esse. Ad amet Lorem exercitation aliqua sit magna dolor nisi minim ex laboris.</h2>
    </div>
</section>