<section id=topHero class="hero is-large is-fluid">
  <div class="hero-body">
  </div>
</section>
<section class="section is-paddingless">
  <div class="container">
    <div class="interpol has-text-centered">
      <br>
      <img src="../../assets/logostrokeBlue.png" alt="">
      <br>
      
      <br>
      <h1 class="how">
        HOW IT WORKS
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns has-text-centered">
    <div class="column is-4 is-info">
      <span class="breathe">
        <img src="../../assets/breathe.png" alt="">
      </span>
      <br>
      <br>
      <h1 class="breathe has-text-weight-bold">BREATHE</h1>
      <p>Breathe on the target, watch it glow orange</p>
    </div>
    <div class="column is-4 is-info">
      <span class="touch">
        <img src="../../assets/touch.png" alt="">
      </span>
      <br>
      <br>
      <h1 class="touch has-text-weight-bold">TOUCH</h1>
      <p>Touch the target, watch it turn blue</p>
    </div>
    <div class="column is-4 is-info">
      <span class="relax">
        <img src="../../assets/relax.png" alt="">
      </span>
      <br>
      <br>
      <h1 class="relax has-text-weight-bold">RELAX</h1>
      <p>Relax in knowing your medication is authentic</p>
    </div>
  </div>
</section>
<section class="section why">
  <div class="container has-text-centered">
    <h1 class="titleWhy">Why You Should Trust SafeStamp<sup>®</sup></h1>
    SafeStamp<sup>®</sup> is built from the most advanced technology in the world, and constructed by some of the smartest
    people on earth.
    It's color change capability comes from particles a few nanometers long. A nanometer has the same relation to a
    meter as the width of a hazelnut has to the width of the earth.
    When things are that small, they get weird. For example,
    these particles can spin in two different directions at the same time.
    Don't understand? You don't need to. You only need
    to rest assured that the criminals who would sell you chalk as medicine don't understand it either.
    At SafeStamp<sup>®</sup>, not only do we understand the nanotechnology necessary to make this work, we innovate. All you need to do is breathe, touch, and relax.
  </div>
  <br>
</section>
