<section id=topHero class="hero is-medium is-fluid">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="is-hidden-mobile" src="../../assets/logostroke.png" alt="">
      <h1 class="title has-text-white">
        SafeStamp®
      </h1>
      <h2 class="subtitle has-text-white">
        Tiny Particles; Huge Impacts
      </h2>
      <a class="button is-rounded has-text-white" routerLink="contact">
        <span>INVESTMENT OPPORTUNITIES</span>
      </a>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid has-text-centered">
    <h1 class="about has-text-weight-bold">
      About SafeStamp®
    </h1>
    <p class="para1">SafeStamp® seals medicine packaging with its nanotech authentication mark. The seal is built using advanced nanotechnology
      that counterfeiters cannot replicate, allowing consumers to themselves ensure that their product came not from a criminal
      but from a legitimate manufacturer. Our technology allows brand owners to engage with consumers to earn and grow brand
      loyalty while protecting the brand from supply chain fraud, including counterfeiting and theft.</p>
  </div>
</section>
<section class="section">
  <div class="container is-fluid has-text-centered">
    <h1 class="why has-text-weight-bold">
      Why SafeStamp®?
    </h1>
    <p class="para2">Around the globe, the market value of counterfeit goods sold is estimated at $653.77 billion USD. This is especially
      problematic in regard to medicine, as fakes cause sickness and death worldwide. The pharmaceutical industry is under
      increasing pressure from regulatory agencies to ensure that adulterated product is not injected into the market. The
      serialization approach requires a comprehensive system to track and trace the passage of medicine throughout the entire
      supply chain, but does not prevent retailers from never ordering the authentic drug. Combining technology complex enough
      to resist replication by counterfeiters with a user-interface simple enough to engage consumers and empower them to
      force retailers to purchase authentic product, SafeStamp™ is a completely new approach to fighting counterfeiting,
      unlike anything produced by security firms to date.</p>
  </div>
</section>
<section class="container">
  <div class="columns has-text-centered">
    <div class="column is-4 is-info">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
      </span>
      <br>
      <br>
      <h1 class="tech has-text-weight-bold">TECHNOLOGY</h1>
      <p>Complex proprietary nanotechnology resists replication by counterfeiters.
      </p>
    </div>
    <div class="column is-4 is-info">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
      </span>
      <br>
      <br>
      <h1 class="design has-text-weight-bold">DESIGN</h1>
      <p>Simple, elegant, and fun UI, consisting of an engaging color-reward association, empowers consumers to verify for themselves
        the authenticity of their products.</p>
    </div>
    <div class="column is-4 is-info">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-medkit fa-stack-1x fa-inverse"></i>
      </span>
      <br>
      <br>
      <h1 class="brand has-text-weight-bold">BRANDING</h1>
      <p>Not only allows firms to capture back market share stolen by counterfeiters, but to differentiate their brands against
        competitors that lack verified authenticity.</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid has-text-centered">
    <h1 class="honors has-text-weight-bold">
      HONORS AND AWARDS
    </h1>
    <p></p>
  </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column is-3">
      <img src="../../assets/award1.png" alt="">
    </div>
    <div class="column is-3">
      <img src="../../assets/award2.png" alt="">
    </div>
    <div class="column is-3">
      <img src="../../assets/award3.png" alt="">
    </div>
    <div class="column is-3">
      <img src="../../assets/award4.png" alt="">
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <img src="../../assets/award5.png" alt="">
    </div>
    <div class="column is-3">
      <img src="../../assets/award6.png" alt="">
    </div>
    <div class="column is-3">
      <img src="../../assets/award7.png" alt="">
    </div>
    <div class="column is-3">
      <img src="../../assets/award8.png" alt="">
    </div>
  </div>
</section>
<section id=propHero class="hero is-info is-medium">
  <div class="hero-body">
    <div id="propReq" class="container has-text-centered">
      <div class="hero-head has-text-centered">
        <h1 class="title" id="propTitle">
          REQUEST A PROPOSAL
        </h1>
        <h2 class="subtitle" id="propSub">
          PROTECT YOUR CUSTOMERS, BOOST YOUR REVENUES.
        </h2>
<a routerLink="contact" class="button is-large is-outlined is-light">
    Reach Out Now!</a>
      </div>
    </div>
  </div>
</section>
