<section id=topHero class="hero is-medium is-fluid">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="is-hidden-mobile" src="../../assets/logostroke.png" alt="">
      <h1 class="title has-text-white">
        SafeStamp™
      </h1>
      <h2 class="subtitle has-text-white">
        Tiny Particles, Huge Impacts.
      </h2>
      <a class="button is-rounded has-text-white" routerLink="contact">
        <span>INVESTMENT OPPORTUNITIES</span>
      </a>
    </div>
  </div>
</section>
<section class="section is-paddingless">
  <div class="container has-text-centered">
    <h1 class="about has-text-weight-bold">
      About SafeStamp™
    </h1>
    <p class="para1">SafeStamp™ is advanced nanotechnology that counterfeiters cannot replicate, allowing consumers to themselves
      ensure that their product came not from a criminal but from a legitimate manufacturer.</p>
  </div>
</section>
<section class="section is-paddingless">
  <div class="container has-text-centered">
    <h1 class="why has-text-weight-bold">
      Why SafeStamp™?
    </h1>
    <p class="para2">Around the globe, the market value of counterfeit goods sold is estimated at $1.4 trillion. Fake medicine causes
       sickness and death worldwide. Combining technology complex enough to resist replication by counterfeiters with a 
       user-interface simple enough to engage consumers and empower them to force retailers to purchase authentic product, 
       SafeStamp™ is a completely new approach to fighting counterfeiting, unlike anything produced by security firms to date.</p>
  </div>
</section>
<section class="container is-paddingless">
  <div class="columns has-text-centered icon-setup">
    <div class="column is-4 is-info">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x colored-icon"></i>
        <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
      </span>
      <br>
      <br>
      <h1 class="tech has-text-weight-bold">TECHNOLOGY</h1>
      <p>Complex proprietary nanotechnology resists replication by counterfeiters.
      </p>
    </div>
    <div class="column is-4 is-info">
      <span class="fa-stack fa-3x colored-icon">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
      </span>
      <br>
      <br>
      <h1 class="design has-text-weight-bold">DESIGN</h1>
      <p>Simple, elegant and fun UI, consisting of an engaging color-reward association, empowers consumers to verify for themselves
        the authenticity of their products.</p>
    </div>
    <div class="column is-4 is-info">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x colored-icon"></i>
        <i class="fas fa-medkit fa-stack-1x fa-inverse"></i>
      </span>
      <br>
      <br>
      <h1 class="brand has-text-weight-bold">BRANDING</h1>
      <p>Not only allows firms to capture back market share stolen by counterfeiters, but to differentiate their brands against
        competitors that lack verified authenticity.</p>
    </div>
  </div>
</section>
<section class="section is-paddingless">
  <div class="container has-text-centered">
    <h1 class="awards has-text-weight-bold">
      HONORS AND AWARDS
    </h1>
  </div>
  <div class="container image-grid">
    <div class="columns is-centered">
      <div class="column is-2">
        <img src="../../assets/award5.png" alt="">
      </div>
      <div class="column is-2">
        <img src="../../assets/award6.png" alt="">
      </div>
      <div class="column is-2">
        <img src="../../assets/award7.png" alt="">
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-2">
        <img src="../../assets/award1.png" alt="">
      </div>
      <div class="column is-2">
        <img src="../../assets/award2.png" alt="">
      </div>
      <div class="column is-2">
        <img src="../../assets/award4.png" alt="">
      </div>
      <div class="column is-2">
        <img src="../../assets/award8.png" alt="">
      </div>
    </div>
  </div>
</section>
