<section id=topHero class="hero is-medium is-fluid">
  <div class="hero-body has-text-centered">
    <h1 class="title has-text-white">
      YOU'RE GETTING SHAKEN DOWN.
    </h1>
    <h1 class="title has-text-white">
      AND YOU KNOW IT.
    </h1>
  </div>
</section>
<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <figure class="image is-5by4">
              <img src="../../assets/topPharmaPic.jpg">
            </figure>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification has-text-centered">
            <span>
              <h1 class="numbersTitle">Billions lost.</h1>
              <br>
              <br>
              <span class="numbersText">People differ on the numbers. Some say $75 billion, other say $514 billion.
                <br>
                <br> You probably have your own estimates.
                <br>
                <br>Either way, pharma-counterfeiters are selling fakes labeled as if they are your product, reaping profits
                that are rightfully belong to you.</span>
            </span>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child notification has-text-centered">
            <span>
              <h1 class="wrongTitle">You're doing it wrong. </h1>
              <br>
              <br>
              <span class="wrongText">
                You trace your medicine from the factory pharmacist, but that does not stop the pharmacist himself from going to counterfeiters,
                and never buying the authentic drug in the first place.
                <br>
                <br> Your company still takes a loss.
                <br>
                <br> Some of you use mobile apps to allow patients to test for themselves, but programming is one of the world's
                most ubiquitous skills, and these technologies have been counterfeited.
                <br>
                <br> So have holograms and other attempts. And you know it."
              </span>
            </span>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <figure class="image is-5by4">
              <img src="../../assets/middlePharmaPic.jpg">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <figure class="image is-5by4">
              <img src="../../assets/bottomPharmaPic.jpg">
            </figure>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification has-text-centered">
            <h1 class="salesTitle">Get your sales back; Get SafeStamp™.</h1>
            <br>
            <br>
            <span class="salesText">SafeStamp™ is the only color-change based solution with an interface so user-friendly, patients will demand it.
              <br>
              <br> This cuts out the corrupt middle-men and ensures that retailers purchase medicine from you, not counterfeiters.
              <br>
              <br> Moreover, its advanced nanotechnology resists replication. The number of people on earth that can create
              a glowing color-change solution is very limited, and many work on SafeStamp™.
              <br>
              <br> Not only will you capture back market share lost to fakes, you will differentiate your brand against substitutes
              and generics, which themselves could be counterfeit.</span>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
          Let us prove it. Put us on a drug line, and watch your revenues increase.
        </h1>
<a href="contact" class="button is-large is-outlined is-light">
          <span class="subtitle has-text-white">
            Reach Out Now!
          </span>
        </a>
      </div>
    </div>
  </section>
</section>
